.header {
  position: sticky;
  height: 80px;
  width: 100%;
  display: flex;
  padding: 0 80px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

  background: var(--background-secondary-color);
}

.header h1 {
  font-size: 25px;
  font-weight: 700;
  color: var(--text-color);
  cursor: pointer;
}

.header button {
  display: flex;
  gap: 11px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  align-items: center;
  cursor: pointer;
}

.header button h3 {
  color: var(--text-color);
  font-weight: 400;
}

@media(max-width: 550px){
  .header {
    height: 99px;
    padding: 0 40px;
  }
}